page-home {

.text-input-md {
    margin: 13px 8px 13px 8px;
    padding: 5px;
    width: calc(100% - 8px - 8px);
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    border-color: red;
    color: #387ef5;
    background-color: transparent;
}

}
