
.input-wrapper h2 {
  font-size: 2.5rem;
}

.input-wrapper p {
  font-size: 2rem;
}

.tabs-ios .tab-button-text {
  font-size: 1.7rem;
}
.tabs-md .tab-button-text {
  font-size: 1.7rem;
}

.bar-button-md[icon-only] ion-icon {
    min-width: 28px;
    font-size: 1.3em;
    line-height: 0.67;
    pointer-events: none;
    padding: 0px 0.1em;
}

.toolbar-title-ios {
    font-size: 2.5rem;
}

.toolbar-title-md {
    font-size: 2.5rem;
}

.item-md ion-avatar ion-img, .item-md ion-avatar img {
    width: 58px;
    height: 58px;
}

.item-ios ion-avatar ion-img, .item-ios ion-avatar img {
    width: 58px;
    height: 58px;
}

.badge-ios {
    color: rgb(255, 255, 255);
    background-color: #ff3300;
}

.badge-md {
    color: rgb(255, 255, 255);
    background-color: #ff3300;
}